body {
	background-color: #b5b5ac;
	margin: 0;
	padding: 0;
}

header, footer {
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 {
	font-size: 70px;
}

.inside-header-footer {
	text-align: center;
	font-family: "Brush Script MT", cursive;
	color: #b5b5ac;
}

.wrapper-1 {
	width: 750px;
	margin: auto;
	font-family: "Brush Script MT", cursive;
}

.wrapper-2 {
	width: 350px;
	margin: auto;
	font-family: "Brush Script MT", cursive;
}

.image {
	margin-left: 20px;
	margin-top: 20px;
	width: 50%;
	float: left;
	
}

.intro {
	padding-top: 20px;
	margin-left: 50%;
}

.below-float {
	margin-top: 100px;
}

hr {
	width: 40%;
	background-color: #000000;
	border: none;
	height: 2px;
}

.space-below {
	margin-bottom: 50px;
}

.space-above {
	margin-top: 50px;
}

.center {
	text-align: center;
}