body { /*styles the whole body element*/
	background-color: #b5b5ac;
	margin: 0;
	padding: 0;
}

header, footer { /*styles the heder and footer elements*/
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 { /*font styling for h1*/
	font-size: 70px;
}

.inside-header-footer { /*class used to style the interior text of header and footer element*/
	text-align: center;
	font-family: Serif;
	color: #b5b5ac;
}

.wrapper-1 { /*first wrapper class used to wrap intro and image classes*/
	width: 750px;
	margin: auto;
	font-family: Sans-serif;
}

.wrapper-2 { /*second wrapper class used to wrapp the rest of the main element*/
	width: 350px;
	margin: auto;
	font-family: Sans-serif;
}

.image { /*image class used to position and float the image*/
	margin-left: 20px;
	margin-top: 20px;
	width: 50%;
	float: left;
	
}

.intro { /*intro class used to position container next to floating image*/
	padding-top: 20px;
	margin-left: 50%;
}

.below-float { /*spacing between hr*/
	margin-top: 175px;
}

hr { /*styling the hr*/
	width: 40%;
	background-color: #000000;
	border: none;
	height: 2px;
}

.space-below { /*spacing between hr*/
	margin-bottom: 50px;
}

.space-above { /*spacing between hr*/
	margin-top: 50px;
}

.center { /*class used to align text to center*/
	text-align: center;
}

a:link {
	color: #1031c9;
}
a:visited {
	color: #091963;
}
a:hover {
	color: #6377d4;
}
a:active {
	color: #0e2cb5;
}
